<form>
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="Autocomplete with Label"
        #input="ngModel"
        [(ngModel)]="user"
        name="user"
        [matAutocomplete]="userAutocompleteInput">
  
      <mat-autocomplete #userAutocompleteInput="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let item of filteredOptions | async" [value]="item">
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
            <fs-badge size="35" shape="circle" [image]="item.avatar"></fs-badge>
            <span>{{ item.name }}</span>
          </div>
        </mat-option>
      </mat-autocomplete>
  
    </mat-form-field>
  
    <mat-hint *ngIf="user.value">Selected User: {{ user.name }}, id #{{ user.value }}</mat-hint>
  </form>
  