<form fsForm>
  <fs-autocomplete
    #autocomplete
    [fetch]="fetch"
    [displayWith]="displayWith"
    [fetchOnFocus]="true"
    [(ngModel)]="model"
    placeholder="Autocomplete"
    (ngModelChange)="modelChange($event)"
    [required]="true"
    name="model">

    <ng-template fsAutocompleteTemplate let-data="data">
      <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="start center">
        <fs-badge size="30" [image]="data.image"></fs-badge>
        <span>{{ data.name }}</span>
      </div>
    </ng-template>

    <ng-template fsAutocompleteNoResults let-keyword>
      <mat-option disabled>
        Custom No Results for "{{keyword}}"
      </mat-option>
    </ng-template>

    <ng-template fsAutocompleteStatic let-keyword [showWhenKeyword]="true">
      Custom Static {{keyword}}
    </ng-template>

    <ng-template fsAutocompleteStatic (selected)="staticClick('Cash or Cheque')">
      Cash or Cheque
    </ng-template>

    <ng-template fsAutocompleteStatic (selected)="staticClick('Email Money Transfer')">
      Email Money Transfer
    </ng-template>

    <ng-template fsAutocompleteSuffix let-data="data">
      <mat-icon
        *ngIf="data && data.value"
        (click)="onProceed(data)">launch
      </mat-icon>
    </ng-template>

  </fs-autocomplete>

  <button mat-raised-button type="button" (click)="focus()">Focus</button>
  <fieldset *ngIf="model">
    <legend>Selected</legend>
    {{ model | json }}
  </fieldset>
</form>
