
::ng-deep .fs-autocomplete-panel {
  &.searching {
    .mat-option.general-option {
      opacity: .5;
    }
  }

  .static-templates {
    position: sticky;
    bottom: 0;
    width: 100%;
    background: #fff;
    border-top: 1px solid #e0e0e0;
  }

  &.mat-autocomplete-hidden {
    visibility: visible !important;
  }
}

mat-form-field {
  width: 100%;
}

.clear {
  cursor: pointer;
}

.suffix {
  display: flex;
}