
::ng-deep .fs-autocomplete-panel {

  .static-templates {
    position: sticky;
    bottom: 0;
    width: 100%;
    background: #fff;
    border-top: 1px solid #e0e0e0;
  }

  &.mat-autocomplete-hidden {
    visibility: visible !important;
  }
}

.mat-form-field {
  width: 100%;
}

.clear {
  cursor: pointer;
}

mat-label::after {
  content: attr(data-after-content);
}

:host ::ng-deep {
  .mat-form-field-suffix {
    align-self: flex-end;
  }
}

