<mat-form-field
  [appearance]="appearance"
  [class]="formFieldClass">
  @if (placeholder) {
    <mat-label>
      {{ placeholder }}
    </mat-label>
  }
  <input
    #keywordInput
    #keywordNgModel="ngModel"
    matInput
    type="text"
    [fsClear]="showClear && !disabled"
    (cleared)="clearClick($event)"
    [(ngModel)]="keyword"
    [name]="name"
    [disabled]="disabled"
    [readonly]="readonly"
    [required]="required"
    (focus)="inputFocus()"
    (blur)="inputBlur()"
    (input)="input($event)"
    (keydown)="keyDown($event)"
    (keyup)="keyUp($event)"
    [matAutocomplete]="userAutocompleteInput">
  @if (prefix) {
    <div
      matPrefix
      class="prefix">
      <ng-container
        [ngTemplateOutlet]="prefix"
        [ngTemplateOutletContext]="{ data: model }">
      </ng-container>
    </div>
  }
  @if (suffix && !disabled) {
    <div
      matSuffix
      class="suffix">
      <ng-container
        [ngTemplateOutlet]="suffix"
        [ngTemplateOutletContext]="{ data: model }">
      </ng-container>
    </div>
  }
  <mat-autocomplete
    #userAutocompleteInput="matAutocomplete"
    [autoActiveFirstOption]="!!keyword"
    [panelWidth]="panelWidth"
    (opened)="opened.emit()"
    (closed)="onClose()"
    [class]="panelClasses"
    [displayWith]="display"
    (optionSelected)="optionSelected($event)">
    <div
      class="options"
      [ngStyle]="{ 'padding-bottom': (staticDirectivesLength * 48) + 'px' }">
      @for (item of data; track item) {
        <mat-option
          [value]="item"
          class="general-option">
          <ng-container
            [ngTemplateOutlet]="template"
            [ngTemplateOutletContext]="{ data: item }">
          </ng-container>
        </mat-option>
      }
      @if (noResults) {
        @if (noResultsDirective) {
          @if (noResultsDirective.isShow) {
            <ng-template
              [ngTemplateOutlet]="noResultsDirective.templateRef"
              [ngTemplateOutletContext]="{ $implicit: keyword }">
            </ng-template>
          }
        } @else {
          <mat-option
            disabled
            class="no-results">
            No results
            @if (keyword) {
              for "{{ keyword }}"
            }
          </mat-option>
        }
      }
    </div>
    @if (!model && staticDirectives?.length) {
      <div class="static-templates">
        @for (staticTemplate of staticDirectives; track staticTemplate; let i = $index) {
          @if (staticTemplate.isShow) {
            <mat-option
              class="static-option"
              [value]="{ staticOptionIndex: i, keyword: keyword }"
              [disabled]="staticTemplate.isDisabled"
              [ngClass]="{ 'static-option-first': !i }">
              <ng-template
                [ngTemplateOutlet]="staticTemplate.templateRef"
                [ngTemplateOutletContext]="{ $implicit: keyword }">
              </ng-template>
            </mat-option>
          }
        }
      </div>
    }
  </mat-autocomplete>
  @if (hint) {
    <mat-hint>
      {{ hint }}
    </mat-hint>
  }
  @if (hintTemplate) {
    <mat-hint>
      <ng-container [ngTemplateOutlet]="hintTemplate"></ng-container>
    </mat-hint>
  }
</mat-form-field>