<mat-form-field [appearance]="appearance">
  <mat-label [attr.data-after-content]="placeholder"></mat-label>
  <input
    #keywordInput
    #keywordNgModel="ngModel"
    matInput
    type="search"
    [(ngModel)]="keyword"
    [name]="name"
    [disabled]="disabled"
    [readonly]="readonly"
    [required]="required"
    (focus)="inputFocus($event)"
    (blur)="inputBlur()"
    (input)="input($event)"
    (keydown)="keyDown($event)"
    (keyup)="keyUp($event)"
    [matAutocomplete]="userAutocompleteInput">

  <div *ngIf="!disabled" matSuffix>
    <ng-container
      [ngTemplateOutlet]="suffix"
      [ngTemplateOutletContext]="{ data: model }">
    </ng-container>

    <mat-icon
      *ngIf="showClear && model"
      class="clear"
      (click)="clearClick($event)">clear</mat-icon>
  </div>

  <mat-autocomplete
    #userAutocompleteInput="matAutocomplete"
    [autoActiveFirstOption]="true"
    [class]="panelClasses.join(' ')"
    [displayWith]="display"
    (optionSelected)="optionSelected($event)">

    <mat-option *ngFor="let item of data" [value]="item">
      <ng-container
        [ngTemplateOutlet]="template"
        [ngTemplateOutletContext]="{ data: item }">
      </ng-container>
    </mat-option>

    <ng-container *ngIf="!searching">
      <ng-container *ngIf="noResults">
        <ng-template
          *ngIf="noResultsTemplate; else noResultsOption"
          [ngTemplateOutlet]="noResultsTemplate"
          [ngTemplateOutletContext]="{ $implicit: keyword }">
        </ng-template>
        <ng-template #noResultsOption>
          <mat-option disabled class="no-results">
            No results <ng-container *ngIf="keyword">for "{{keyword}}"</ng-container>
          </mat-option>
        </ng-template>
      </ng-container>

      <div 
          *ngIf="!model && (!searching || keyword) && staticTemplates.length"
          class="static-templates">
        <ng-container *ngFor="let staticTemplate of staticTemplates; let i = index">
          <ng-container *ngIf="!staticTemplate.showWhenKeyword || !!keyword">
            <mat-option
              class="static-option"
              [value]="{ staticOptionIndex: i }"
              [ngClass]="{ 'static-option-first': !i }">
              <ng-template
                [ngTemplateOutlet]="staticTemplate.templateRef"
                [ngTemplateOutletContext]="{ $implicit: keyword }"
              ></ng-template>
            </mat-option>
          </ng-container>
        </ng-container>
      </div>
    </ng-container>
  </mat-autocomplete>

  <mat-hint *ngIf="hint">{{ hint }}</mat-hint>
  <mat-hint *ngIf="hintTemplate">
    <ng-container
      [ngTemplateOutlet]="hintTemplate">
    </ng-container>
  </mat-hint>
</mat-form-field>
