<mat-form-field>
  <input
    #keywordInput
    matInput
    type="text"
    [placeholder]="placeholder"
    [(ngModel)]="keyword"
    [name]="name"
    [disabled]="disabled"
    [readonly]="readonly"
    (focus)="focus($event)"
    (blur)="blur()"
    (input)="input($event)"
    (keydown)="keyDown($event)"
    (keyup)="keyUp($event)"
    [matAutocomplete]="userAutocompleteInput">

  <div *ngIf="!disabled" matSuffix>
    <ng-container
      [ngTemplateOutlet]="suffix"
      [ngTemplateOutletContext]="{ data: ngModel }">
    </ng-container>
  </div>

  <mat-autocomplete
    #userAutocompleteInput="matAutocomplete"
    (optionSelected)="optionSelected($event)"
    [autoActiveFirstOption]="true"
    [class]="panelClasses.join(' ')"
    [displayWith]="display">

    <mat-option *ngFor="let data of searchData" [value]="data">
      <ng-container
        [ngTemplateOutlet]="template"
        [ngTemplateOutletContext]="{ data: data }">
      </ng-container>
    </mat-option>

    <ng-container *ngIf="noResults">
      <ng-template
        *ngIf="noResultsTemplate; else noResultsOption"
        [ngTemplateOutlet]="noResultsTemplate"
        [ngTemplateOutletContext]="{ keyword: keyword }">
      </ng-template>
      <ng-template #noResultsOption>
        <mat-option disabled class="no-results">
          No results for "{{keyword}}"
        </mat-option>
      </ng-template>
    </ng-container>

    <mat-option *ngFor="let staticTemplate of staticTemplates; let i = index" class="static-option" [ngClass]="{ 'static-option-first': !i }">
      <ng-template [ngTemplateOutlet]="staticTemplate"></ng-template>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
